/* Reset */
/*Formatação padrão, para zerar valores predefinidos*/
*{
    padding: 0;
    margin: 0;
}

/*Formatação geral*/
.border{
    border: black solid 1px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 235, 235);
}

#principal{
    /*Display é usado para especificar como um bloco aparece na tela, flex seria como desativar a quebra de linha enquanto houver espaço para o conteúdo*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

h1{
    font-size: 28px;
}

p{
    text-align: justify;
    font-size: 19px;
}

/*Formatação do header*/
header{
    display: flex;
    height: 150px;
    background-image:linear-gradient(120deg, #851e22 20%, #545454 100%);
    /*Ajusta o conteúdo no eixo Y*/
    align-items: center;
}

header h1{
    color: white;
    margin-left: 150px;
    font-size: 50px;
}

@media screen and (max-width:730px){
    header{ 
        /*Ajustar o conteúdo no eixo X*/
        justify-content: center;
    }
    
    header h1{
        margin-left: unset;
    }
}

/*Formatação navbar*/
nav{
    background-image:linear-gradient(120deg, #851e22 11%, #545454 100%);
}

nav ul{
    align-items: center;
    display: flex;
    /*Cria um espaçamento igual entre os itens de uma box*/
    justify-content: space-around;
    list-style: none;
    height: 60px;
    flex-wrap: wrap;
}

nav ul li a{
    padding: 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
}

nav ul li a:hover{
    transition: 0.3s;
    font-size: 28px;
    cursor: pointer;
    color: black;
}

.selecionado{
    color: white;
    text-decoration: none;
    font-size: 25px;
    text-decoration: underline;
}

.selecionado:hover{
    font-size: 25px;
    cursor: pointer;
    color: white;
}

@media screen and (max-width:730px) and (min-width:600px){ 
    nav{
        background-image:linear-gradient(120deg, #851e22 0%, #545454 98%);
    }
    
    nav ul{
        /*Direção das quebras de linha*/
        flex-direction:column ;
    }
    
    nav ul li a{
        padding: 20px;
        text-decoration: none;
        color: white;
    }
    
    nav ul li a:hover{
        transition: 0.3s;
        cursor: pointer;
        color: black;
    }
    
    .selecionado{
        color: white;
        text-decoration: none;
        text-decoration: underline;
    }
    
    .selecionado:hover{
        cursor: pointer;
        color: white;
    }
}

/*Formatação do menu retrátil*/
.menu{
    display: none;
}

#check{
    display: none;
}


@media screen and (max-width:600px){
    .menu{
        display: unset;
    }
    
    nav{
        height: 80px;
        transition: .2s;
    }
    nav{
        text-align: center;
    }

    nav ul{
        display: block;
        padding: 10px;
    }

    nav ul li a{
        display: none;
        padding: 10px;
    }

    #check:checked~nav{
        height: 280px;
    }

    #check:checked~nav ul li a{
        display: block;
    }

}

/*Formatação do article*/
article ul{
    margin-left: 20px;
    font-size: 20px;
}

article{
    padding: 80px;
    text-align: justify;
    padding-bottom: 30px;
}

@media screen and (max-width:860px){
    article{
        padding: 0;
        margin: 20px;
        padding-top: 20px;
    }
}

/*Formatação do aside*/
aside{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

aside div{
    padding: 50px;
    max-width: 800px;
}

aside figure{
    max-width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

aside figure iframe{
    max-width: 100%;
}

@media screen and (max-width:860px){
    aside div{
        padding: 0;
        padding-bottom: 50px;
    }
}

/*Formatação do rodapé*/
.freepik{
    font-size: 12px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #851e22;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
}

footer h1{
    padding: 15px;
}

footer p{
    padding: 15px;
    text-align: center;
}

.copyright{
    align-items: flex-end;
    color: gray;
    font-size: 14px;
}