/* Reset */
/*Formatação padrão, para zerar valores predefinidos*/
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/*Formatação geral*/
.border{
    border: black solid 1px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

#principal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

h1{
    font-size: 28px;
}

p{
    text-align: justify;
    font-size: 19px;
}

/*Formatação do header*/
header{
    display: flex;
    height: 150px;
    background-image:linear-gradient(120deg, #851e22 20%, #545454 100%);
    align-items: center;
}

header h1{
    color: white;
    margin-left: 150px;
    font-size: 50px;
}

@media screen and (max-width:730px){
    header{ 
        justify-content: center;
    }
    
    header h1{
        margin-left: unset;
    }
}

/*Formatação navbar*/
nav{
    position: sticky;
    top: -5px;
    background-image:linear-gradient(120deg, #851e22 11%, #545454 100%);
    width: 100%;
}

nav ul{
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 60px;
    flex-wrap: wrap;
}

nav ul li a{
    padding: 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
}

nav ul li a:hover{
    transition: 0.3s;
    font-size: 28px;
    cursor: pointer;
    color: black;
}

@media screen and (max-width:730px) and (min-width:600px){ 
    nav{
        background-image:linear-gradient(120deg, #851e22 0%, #545454 98%);
    }
    
    nav ul{
        flex-direction:column ;
    }
    
    nav ul li a{
        padding: 20px;
        text-decoration: none;
        color: white;
    }
    
    nav ul li a:hover{
        transition: 0.3s;
        cursor: pointer;
        color: black;
    }
    
}


/*Formatação do menu retrátil*/
.menu{
    display: none;
}

.menu label{
    cursor: pointer;
}

#check{
    display: none;
}


@media screen and (max-width:600px){
    .menu{
        display: unset;
    }
    
    nav{
        height: 70px;
        transition: .2s;
    }
    nav{
        text-align: left;
    }

    nav ul{
        display: block;
        padding: 10px;
    }

    nav ul li a{
        display: none;
        padding: 10px;
    }

    #check:checked~nav{
        height: 280px;
    }

    #check:checked~nav ul li a{
        display: block;
    }

}
/*Formatação img background*/
.background{
    background-image: url(./imgs/fundo.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    border: 1px solid black;
}

.background h1{
    font-size: 70px;
    padding-bottom: 15px;
}

.background h3{
    font-size: 30px;
    padding-bottom: 15px;
}

.background a{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-color:#851e22 ;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 20px;
    transition: .2s;
}

.background a:hover{
    color: black;
    background-color:#943538 ;
    padding: 12px 17px;
}

@media screen and (max-width:600px){
    .background h1{
        font-size: 50px;
    }
    
    .background h3{
        font-size: 25px;
    }
    
}

/*Formatação do sobre*/
/*Formatação do article*/

.sobre article{
    padding-top:80px;
    max-width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.sobre article div{
    padding-bottom: 40px;
    max-width: 800px;
    text-align: justify;
}

.sobre article figure img{
    max-width:100%;
    height: 100%;
}

@media screen and (max-width:600px){
    .sobre article{
        padding-top: 20px;
    }
}

/*Formatação do aside*/

.sobre aside{
    max-width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    margin: 20px;
}

.sobre aside div{
    max-width: 800px;
    text-align: justify;
    padding-bottom: 40px;
}

.sobre aside figure img{
    max-width: 100%;
    height: 100%;
}

/*Formatação da api*/
.estados p{
    padding: 10px;
}

.estados h1{
    padding: 10px;
}

.estados{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estados p{
    text-align: center;
    font-size: 17px;
}

.listEstados{
    width: 100%;
    text-align: left;
    height: 300px;
    overflow-y: scroll;
    list-style: none;
    border: black 2px solid;
    background-color:#a51c20 ;
}

.listEstados::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.listEstados::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
.listEstados::-webkit-scrollbar-thumb {
    background: #5f5f5f;
}

.listEstados li input{
    background: none;
    border: solid 1.5px black;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    margin: -1px;
    transition: .2s;
    font-size: 18px;
    width: 100%;
}

.listEstados li input:hover{
    background-color: white;
    color: black;
    font-size: 20px;
}

.listEstados li input:focus{
    background-color: white;
    color: black;
    font-size: 20px;
}

.sobre u h1{
    text-align: center;
    padding: 50px
}

.sobre .boxApi{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.sobre .api{
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:#851e22;
    border: black solid 3px;
    width: 80%;
    max-height:600px ;
}

.sobre .api .externo .interno{
    padding: 40px;
    padding-top: 70px;
}

.sobre .api .externo .interno h2{
    text-align: center;
}

.sobre .api .externo .interno p{
    text-align: center;
    padding: 20px;
    font-size: 22px;
}

@media screen and (max-width:1580px){
    .sobre .api{
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column;
        max-height: unset;
    }

    .listEstados{
        width: 80%;
    }
}


/*Article dos sintomas*/
/*Formatação do article*/

.sintomas{
    margin-top:-160px ;
}

.sintomas article{
    padding: 80px;
    text-align: justify;
    padding-bottom: 30px;
}

.img1{
    max-width:100%;
    height: 100%;
}

@media screen and (max-width:860px) and (min-width:601px){
    .sintomas article{
        padding: 0;
        margin: 20px;
        padding-top: 20px;
        margin-top: 140px;
    }
}

@media screen and (max-width:1580px) and (min-width:861px){
    .sintomas article{
        margin-top: 70px;
    }
}

@media screen and (max-width:600px){
    .sintomas article{
        padding: 0;
        margin: 20px;
        padding-top: 20px;
        margin-top: 200px;
    }
}

/*Formatação do aside*/
.sintomas aside{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
}

.sintomas .list{
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: black solid 1px;
    margin: 40px;
}

.sintomas .list ul{
    font-size: 20px;
}

.sintomas aside figure img{
    max-width: 100%;
    height: 100%;
}

/*Formatação dos cuidados*/
/*Formatação do article*/
.cuidados{
    margin-top: -40px
}

.cuidados article ul{
    margin-left: 20px;
    font-size: 20px;
}

.cuidados article{
    padding: 80px;
    text-align: justify;
    padding-bottom: 30px;
}

@media screen and (max-width:860px){
    .cuidados article{
        padding: 0;
        margin: 20px;
        padding-top: 20px;
    }
}

/*Formatação das imagens*/
.cuidados .imgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.cuidados .imgs div{
    padding: 50px;
    padding-bottom: 0px;
    max-width: 250px;
    text-align: center;
}

.cuidados .imgs div p{
    padding: 30px;
    text-align: center;
}

.cuidados .icon{
    width: 200px;
    height: 200px;
}

.cuidados hr{
    color: black;
}

.cuidados .destaque{
    color:#851e22 ;
}

/*Formatação do curiosidades*/
/*Formatação do article*/
.curiosidades article ul{
    margin-left: 20px;
    font-size: 20px;
}

.curiosidades article{
    padding: 80px;
    text-align: justify;
    padding-bottom: 30px;
}

@media screen and (max-width:860px){
    .curiosidades article{
        padding: 0;
        margin: 20px;
        padding-top: 20px;
    }
}

/*Formatação do aside*/
.curiosidades aside{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.curiosidades aside div{
    padding: 50px;
    max-width: 800px;
}

.curiosidades aside figure{
    max-width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

.curiosidades aside figure iframe{
    max-width: 100%;
}

@media screen and (max-width:860px){
    .curiosidades aside div{
        padding: 0;
        padding-bottom: 50px;
    }
}

/* Formatação das imagens links*/

.figures{
    margin-top: -20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;;
}

.link{
    padding-top:20px ;
    font-size: 18px;
    text-align: center;
}

.figures figure{
    max-width: 280px;
    padding: 50px;
    text-align: center;
}

.figures figure img:hover{
    transition: 0.2s;
    width: 210px;
    height: 210px;
}

/*Formatação do rodapé*/
.freepik{
    font-size: 12px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #851e22;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
}

footer h1{
    padding: 15px;
}

footer p{
    padding: 15px;
    text-align: center;
}

.copyright{
    align-items: flex-end;
    color: gray;
    font-size: 14px;
}




